@import 'vars';
@import "global";
@import "fonts";
.header{
    background-color: #fff;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin: auto;
}
.header__box{
    display: flex;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header__btn{
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    padding: 4px;
    width: 72px;
    border-radius: 4px ;
    text-align: center;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register,
.header__btn-logout{
    background-color: $red;
    margin-left: 7px;
}
.header__btn-logout{
    display: none;
    &.header__btn-login--on{
        display: block;
    }
}
.header__menu{
    background-color: $bg;
}
.menu{
    height: 60px;
    display: flex;
    align-items: center;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
    }
    a{
        color: #fff;
        font-size: 14px;
        line-height: 30px;
    }
}
.header__circle{
    &.active{
        display: block;
    }
    display: none;
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 50%;
    position: relative;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
    & +.header__circle{
        margin-left: 15px;
    }
    span{
        width: 18px;
        height: 18px;
        position: absolute;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        right: -7px;
        top: -7px;
        color: #fff;
        font-size: 11px;
    }
}
.notification{
    span{
        background-color: #fcb322;
    }
}
.message{
    span{
        background-color: #ef6c00;
    }
}
.basket{
    margin-right: 20px;
    span{
        background-color: $green;
    }
}
.header__btn-login--off{
    display: none;
}
.user{
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
        &::before{
            content: "\f107";
            position: absolute;
            font-family: 'icomoon';
            right: 0;
            top: 0;
            font-size: 16px;
            color: #707070;
        }
    &__inner{
        display: flex;
    }
    &__images{
        width: 34px;
        height: 34px;   
        border-radius: 50%;
        margin-right: 15px;
        overflow: hidden;
    }
    &__info{
        font-size: 14px ;
        line-height: 24px;
    }
    &__name{
        @include f500;
        color: #222;
    }
    &__money{
        @include f700;
        color: $green;
    }
}
.user__box{
    position: relative;
    height: 90px;
    padding-top: 25px;
    &:hover{
        .user__menu{
            height: auto;
            border-width: 1px;
            padding: 20px;
            overflow: auto;
        }
    }
}

.user__menu{
    width: 158px;
    background-color: #fff;
    padding:  0px 20px;
    position: absolute;
    left: 20px;
    top: 90px;
    border-color: rgb(204, 204, 204);  
    transition: all .3s;     
    height: 0;
    overflow: hidden;
        a{
            font-size: 12px;
            color: $text;
            margin-bottom: 15px;
        }      
}
.basket__box{
    margin-left: 15px;
    position: relative;
    &:hover{
        .basket__menu{
            height: auto;
            border-width: 1px;
            overflow: auto;
        }
    }
}
.basket__menu{
    width: 268px;
    background-color: #fff;
    border:0px solid #e0e0e0;  
    position: absolute;
    z-index: 5;
    top: 60px;
    right: 0px;
    transition: all .3s;     
    height: 0;
    overflow: hidden;
}
.basket__item{
    border-bottom: 1px solid #e0e0e0;
    padding: 22px 25px;
    display: flex;
    align-items: center;
}
.basket__images{
    margin-right: 15px;
}
.basket__title{
    color: $bg;
    @include f700;
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom:15px ;
    display: flex;
    justify-content: space-between;
}
.basket__info{
    display: inline-block;
    line-height: 23px;
}
.basket__info-name{
    font-size: 15px;
    @include f500;
    color: $bg;
}
.basket__info-theam{
    font-size: 12px;
    color: $green;
}
.basket__info-price{
    font-size: 16px;
    color: $bg;
    @include f500;
}
.basket__summ{
    padding: 15px 15px ;
    a{
        color: #fff;
        @include f700;
        background-color: $green;
        padding: 10px 15px 12px;
    }
    .basket__btn-checkout{
        padding: 10px 10px 12px;
        background-color: $red;
        margin-left: 6px;
    }
}
.basket__box,
.message__box,
.notification__box{
    &:hover{
        .header__circle::before{
            color: #000;
        }
    }
}
.message__box,
.notification__box{
    position: relative;
    margin-left: 15px;
    &:hover{
        .message__menu,
        .notification__menu{
            height: auto;
            border-width: 1px;
            overflow: auto;
        } 
    }
}
.message__menu, 
.notification__menu{
    width: 268px;
    background-color: #fff;
    border:0px solid #e0e0e0; 
    position: absolute;
    top: 62px;
    right: 0;
    margin-bottom: 10px;
    overflow: hidden;
    height: 0;
}
.message__item:first-child,
.notification__item:first-child{
    border-top: none;
}
.message__item,
.notification__item{
    display: flex;
    border-top: 1px solid #e0e0e0;
    padding: 20px;
    line-height: 20px;
    align-items: center;
}
.message__info,
.notification__info{
    margin: 0 20px;
    width: 110px;
}
.message__info-name,
.notification__info-name{
    font-size: 12px;
    @include f700;
    color: $bg;
}
.message__info-theam,
.notification__info-theam{
    font-size: 11px;
    color: $green;
}
.message__info-date,
.notification__info-date{
    font-size: 10px;
    color: #707070;
}

.icon-mail-reply,
.icon-envelope-o,
.icon-bell-o{
    color: #b0bec5;
    font-size: 16px;
}
.icons-color::before{
    color:#ef6c00 ;
}

.header__btn-menu,
.menu__btn{
    display: none;
}

//end header
// start search//
.search{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 532px;
    &.page-search{
        min-height: 230px;
        .search__inner{
            padding: 50px 0 70px;
        }
        .search__inner-text{
            margin-bottom: 20px;
        }
    }
}
.search__inner{
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    &-title{
        font-size: 48px;
        line-height: 72px;
        @include f700;
        margin-bottom: 10px;
    }
    &-text{
        font-size: 20px;
        line-height: 30px;
        @include f500;
        margin-bottom: 50px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            width: 100%;
            display: block;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            height: 56px;
            border-radius: 4px;
            border: none;
            padding-left:25px;
            padding-right: 60px;
            font-size: 14px;
            @include f500;
        }
        button{
            position: absolute;
            content: '';
            top:20px;
            right: 17px;
            border: none;
            background-color: transparent;
        }
    }
}

  // start products
  .products{
      background-color:$grey;
      padding: 110px 0 ;
      width: 100%;
  }

  .products__inner-btn{
      margin-bottom: 60px;
      text-align: center;
      button{
          color: $bg;
          font-size: 14px;
          padding: 10px 20px;
          background-color: #fff;
          border: none;
         @include f500;
          outline: none;
          cursor: pointer;
          & + button{
              margin-left: 5px;
          }
          &.mixitup-control-active{
            color: #fff;
            background-color: $red;
        }
      }
  }
  .products__inner-box{
      display: flex;
      justify-content: space-around;      
      flex-wrap: wrap;
  }
  .product__item{
      max-width: 440px;
      width: 100%;
      background-color: #fff;
      box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
      margin-bottom: 30px;
    &-img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        min-height: 250px;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        font-size: 18px;
        color: $bg;
        display: block;
    }
    &-categoria{
        font-size: 14px;
        display: block;
        color: $green;
    }
    &-price{
        font-size: 20px;
        color: $bg;
        @include f700;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        min-height: 70px;
        align-items: center;
        padding: 10px 30px;
    }
    &-author{
        display: flex;
        align-items: center;
        max-width: 245px;
        .avatar{
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
            display: inline-block;
        }
        span{
            @include f500;
            color: $text;
            font-size: 14px;
        }
    }

}
.products__bottom-btn{
    text-align: center;
    button{
        margin: 45px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        padding: 20px 30px;
        font-size: 16px;
        color: $bg;
        outline: none;
        cursor: pointer;
        &.mixitup-control-active{
            color: #fff;
            background-color: $red;
        }
    }
}

// start product-slider
.product__slider{
    padding: 110px 0 120px;
}
.product__slider-inner{
    .slick-dots{
       text-align: center;
       margin-top: 50px;
       li{
           display: inline-block;
           margin-left: 3px;
           margin-right: 3px;
            &.slick-active{
                button{
                    background-color: $green;
                }
            }
           button{
            border-radius: 50%;
            background-color: rgb(232, 232, 232);
            border: none;
            width: 16px;
            height: 16px;
            font-size: 0;
            outline: none;
            cursor: pointer;
           }
       }
    }
}
// start advanhtages

.advantages{
    background-color: $bg;
    padding: 110px 0;
    color: #fff;
    .advantages__title{
        color: #fff;
    }
}
.advantages__inner{
    display: flex;
    justify-content: space-between;
    
}

.advantages__item{
    max-width: 370px;
    text-align: center;
    padding: 0 15px;
    &:hover{
        .advantages__item-images{
            background-color: $green;
        }
        .advantages__item-title{
            color: $green;
        }
        .advantages__item-images{
            .cls-1{
                fill: #fff;
            }
            svg{
                fill: #fff
            }
            path{
                fill: #fff
            }
        }

    }
    &-images{
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition:  all .5s;
    }
   &-title{
        font-size: 24px;
        @include f500;
        line-height: 60px;
        transition:  all .5s;
    }
    &-text{
        font-size: 15px;
        line-height: 24px;
        color: #b0bec5;
    }
}



.icosvg-1{
    svg{
        width: 70px;
    }
}
.icosvg-2{
    svg{
        width: 76px;
    }
}
.icosvg-3{
    svg{
        width: 86px;
    }
}

// start author

.author{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 741px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.author__box{
    width: 650px;
    height: 220px;
    background-color: $green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    .author__title{
        max-width: 275px;
        color: #fff;
        font-size: 30px;
        line-height: 36px;
        span{
            @include f700;
        }
    }
    .author__link{
        background-color: #fff;
        font-size: 18px;
        line-height: 36px;
        color: $bg;
        text-align: center;
        padding: 14px 40px;
    }
}

// start tutorial

.tutorial{
    padding-top: 70px;
    padding-bottom: 110px;
    text-align: center;
}
.tutorial__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.tutorial__item{
    max-width: 370px;
    width: 100%;
    &-images{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 270px;
        
    }
    &-title{
        font-size: 24px;
        @include f700;
        color: $bg;
        padding: 30px 30px 30px;
        background-color: #f8f8f8;
    
    }
}

// start footer
.footer{
    background-color: $bg;
    color: #fff;
}
.footer__content{
    border-bottom: 1px solid #424d53;
    padding:110px 0 90px;
    
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    .footer__col{
        max-width: 267px;
        width: 100%;
    }
    .footer__col-title{
        font-size: 24px;
        line-height:24px;
        @include f700;
        padding-bottom: 22px;
        margin-bottom: 35px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 50px;
            height: 3px;
            background-color: $green;
            top: 50px;
        }

    }
    .footer__text{
        color: #b7c3c8;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .footer__list{
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        @include f500;
        li{
            margin-bottom: 10px;
            padding-left: 24px;
        }
    }
}
.footer-info{
    padding-left: 24px;
}
.map{
    position: relative;
    margin-bottom: 10px;
    &:before{
        position: absolute;
        content: '\f041';
        font-family: 'icomoon';
        left: 0;
        color: $green;
        top: 10px;
    }
}
.phone{
    position: relative;
    color: #fff;
    &:before{
        position: absolute;
        content:"\f095" ;
        font-family: 'icomoon';
        left: 0;
        color: $green;
    }
  
}
.footer__col.footer__col-menu{
   max-width: 230px;
    li{
        font-size: 15px;
        position: relative;
        &:before{
            content: '\f105';
            font-family: 'icomoon';
            position: absolute;
            color: $green;
            left: 0;
            font-size: 18px;
        }
    }
}
.footer__col-link{
    margin-bottom: 25px;
    li{
        display: inline-block;
        & + li{
            margin-left: 7px;
        }
    }
    a{
        width: 28px;
        height: 28px;
        background-image: url(../images/css_sprites.png);
      
    }
}
.icon-twiter{
    background-position: -28px 0px;
}
.icon-youtube{
    background-position: 0px 28px;
}
.icon-pinteres{
    background-position: -28px 28px;
}
.icon-linkidin{
    background-position: 28px 0px;
}
.footer__form-title{
    font-size: 20px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 15px;
}
.footer__copy-text{
    text-align: center;
    color: #919699;
    font-size: 15px;
    padding: 25px 0;
}
.footer-form{
    position: relative;
    input{
        width: 100%;
        border: none;
        background-color: #2f3c43;
        display: block;
        height: 40px;
        color: #fff;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 60px;
        
        &::placeholder{
            color: #697378;
        }
    }
    button{
        position: absolute;
        right: 0;
        bottom: 0;
        height: 40px;
        width: 43px;
        background-color: $green;
        border: none;
        cursor: pointer;
        &::before{
            content: "\f124";
            color: #fff;
            font-family: 'icomoon';
            font-size: 18px;
        }
    }
}

//new item
// start  product page

.product-page__inner{
    display: flex;
    padding-bottom: 110px;
}
.product-page__aside{
    margin-right: 30px;
    width: 100%;
    max-width: 270px;
}
.aside__item{
    background-color: #fff;
    border: 1px solid #dde3e8;
    padding: 0px 32px 32px;
    margin-bottom: 30px;
  
  
}
.aside__title{
    @include f700;
    font-size: 20px;
    padding: 22px 0 19px;
    color: $bg;
    border-bottom: 1px solid #dde3e8;
}

.category__list{
    padding-top: 10px;
    li{
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-left: 20px;
        &::before{
            content: '\f105';
            position: absolute;
            font-family: 'icomoon';
            left: 0;
            color: $green;
            font-size: 18px;
        }
    }
    a{
        color: $bg;
    }
    span{
        color: #90a4ae;
        margin-left: 10px;
    }
}

.price__range{
    form{
        padding-top: 20px;
    }
    button{
        margin-top: 30px;
        width: 100%;
        padding: 15px 0;
        border: none;
        color: #fff;
        text-align: center;
        background-color: $green;
        @include f500;
        cursor: pointer;
        position: relative;
        &::before{
            content: "\f002";
            position: absolute;
            font-family: 'icomoon';
            left: 48px;
            top: 15px;
        }
    }
}
.irs-max,.irs-min{
    display: none;
}
.irs--flat .irs-line{
    background-color: #f2f5f8;
    height: 5px;
}
.irs--flat .irs-bar {
    height: 5px;
    background-color: #37474f;
}
.irs--flat .irs-handle {
    width: 16px;
    height: 16px;
    border: 4px solid $green;
    border-radius: 50%;
    background-color: #fff;   
}
.irs--flat .irs-handle>i:first-child {
    display: none;
}
.irs--flat .irs-from:before,
.irs--flat .irs-single:before, 
.irs--flat .irs-to:before{
    display: none;
}
.irs-with-grid .irs-grid {
  display: none;
}

.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    top: 45px;
    background-color: #fff;
    color: #8197a3;
    font-size: 15px;
}

.top__sellers{
    .product__item{
        padding-bottom: 20px;
        box-shadow: none;
        border-bottom: 1px solid #b0bec5;
    }
    .product__item-img{
        min-height: 120px;
    }
   
    .product__item-content{
        min-height: 75px;
        border-bottom: none;
    }
    .product__item-info{
        min-height: 50px;
    }
    .product__item-content,
    .product__item-info{
        padding:  0;
    }
    .product__item-title,
    .product__item-price{
        font-size: 16px;
    }
    .rate-star{
        margin-right: 0;
    }
    .product__item-star{
        font-size: 12px;
    }
    .jq-ry-container{
        padding: 0;
    }
    .top__sellers-link{
        width: 100%;
        background-color: $green;
        color: #fff;
        font-size: 15px;
        text-align: center;
        padding: 10px 0;
        display: block;
    }
    .avatar{
        margin-left: 9px;
    }
}
.aside-product__item{
    .product__item:last-child{
        border-bottom: none;
        margin-bottom: 0;
    }
    .product__item:first-child{
        margin-top: 25px;
    }
}


.product-page__content{
    width: 100%;
}
.product-page__content{
    .product-page__items{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        flex-wrap: wrap;
        transition: all .5s;
    }
    .product__item{
        max-width: 275px;
    }
    .product__item-content{
        padding: 10px 20px;
    }
    .product__item-info{
        padding: 10px 20px;
    }
    .product__item-img{
        min-height: 180px;
    }
    .product__item-title{
        font-size: 16px;
    }
    .product__item-star{
        font-size: 12px;
    }
    .rate-star{
        margin-right: 5px;
    }
}
.product-page__filter{
    background-color: #fff;
    border: 1px solid #dedede;
    height: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    button{
        border: none;
        background-color: transparent;
        color: #90a4ae;
        cursor: pointer;
        outline: none;
        &.active{
            color: $green;
        }
    }
}

.product-page__filter-sort{
    font-size: 15px;
    color: #707070;
    display: flex;
    align-items: center;
}

button.icon-sort-amount-desc{
    font-size: 14px;
    color: #455a64;
}
button.icon-sort{
    font-size: 18px;
    color: #455a64;
}

.plagination__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 6px;    
        }
        a,
    span{
        display: flex;
        align-items: center;
        color: #263238;
        font-size: 16px;
        @include f500;
        width: 43px;
        height: 38px;
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        background-color: #fff;
        &.active{
            color: #fff;
            background-color: $red;
        }
       
    }
    }
     
}
.product__item-text{
    display: none;
}
.product__item-price{
    span{
        display: none;
    }
}
.product__item-list{
    display: none;
}

.product__item{
    &.list{
        max-width: 100%;
        .product__item-star{
            margin-left: auto;
            margin-right: 30px;
        }
        .product__item-img{
            width: 240px;
            float: left;
            min-height: 100%;
        }
        .product__item-text{
            display: block;
            font-size: 14px;
            color: #656c70;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .product__item-price{
            text-align: right;
            span{
                display: block;
                font-size: 13px;
                color: #aeb4bb;
                margin-top: 15px;
            }
        }
        .product__item-name{
            max-width: 650px;
        }
        .product__item-list{
            display: block;
            .icon-comment-o,
            .icon-heart-o{
                display: inline-block;
                font-size: 12px;
                color:#b0bec5 ;
                padding-left: 50px;
                border-left: 3px solid #d1d4d8;
                position: relative;
                span{
                    color: $bg;
                    @include f500;
                }
                &::before{
                    font-size: 16px;
                    color: $green;
                    position: absolute;
                    left: 20px;
                    top: 0;
                }
            }
            .icon-comment-o{
                padding-right: 30px;
                &::before{
                    top: -2px;
                }
            }
        }
       
    }
}


//end product page

@import 'media';